{% extends "base.html" %}

<body>
    
{% block title %}
    <h2>{{ loginbanner }}</h2>
{% endblock %}

{% block addCourse %}
    <div id="insert_new_course">
            <h3>Can't find the class you're looking for? Add it to our database!</h3></h3>
            <form action={{ url_for('insertCourse') }} method="POST">
              <p><label>Course name:</label>
              <input type="text" id="newcoursename" name="newcoursename" placeholder="Course name"></p>
              <p><label>Semester:</label>
              <input type="text" id="newsemester" name="newsemester" placeholder="Semester"></p>
              <p><label>Professor:</label>
              <input type="text" id="newprofessor" name="newprofessor" placeholder="Professor"></p>
              <button id="submit" type="submit" name="submit" value="submit">Submit</button>
            </form></p>
        </div>
{% endblock %}

</body>
</html>