<!doctype html>
<html lang='en'>
  <head>
      <meta charset='utf-8'>
      <meta name=author content="Jennifer Chien, Ngina Kariuki, Beryce Garcia">
      {% block title %}
      <title>Wendy’s Course Survival Guide</title>
      {% endblock %}
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>

    <div id="menu">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="topnav" id="myTopnav">
        <a href={{ url_for('homePage') }} class="active">Home</a>
        <a href={{ url_for('search') }}>Search</a>
        <a href={{ url_for('add_course') }}>Add A Course</a>
        <div class="dropdown">
          <button class="dropbtn">My Account</button>
          <div class="dropdown-content">
            <a href={{ url_for('editPosts') }}>Edit Posts</a>
            <a href={{ url_for('delete') }}>Delete Posts</a>
            <a href={{ url_for('manageCourses') }}>Manage Courses</a>
            <a href={{ url_for('logout') }}>Logout</a>
          </div>
        </div>
      </div>
    </div>
    
    <div id="content">
      {% block flashes %}
        <div class="flashes">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
            <div id="messages">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
          
        </div>
        {% endblock %}
    </div>
    
    {% block links %}
    {% endblock %}
    
    {% block loginbanner %}
      <h4>{{ loginbanner }}</h4>
      <!--<form name="logout" method="post" action="{{url_for('logout')}}">-->
      <!--  <label><input name="logout" type="submit" id="submit2" value="logout"></label>-->
      <!--</form>-->
    {% endblock %}
    
    {% block login %}
    {% endblock %}
    
    
    
    
    {% block search %}
    {% endblock %}
    
    {% block filter %}
    {% endblock %}
    
    {% block addCourse %}
    {% endblock %}
    
    {% block currentSearchFilters %}
    {% endblock %}
    
    {% block courseList %}
    {% endblock %}
    
    {% block posts %}
    {% endblock %}
    
    {% block past_posts %}
    {% endblock %}
    
    {% block allPosts %}
    {% endblock %}
    
  
  {% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename ='rating.js')}}"></script>
  {% endblock %}
  
  </body>
</html>