<!doctype html>
<html lang='en'>
  <head>
      <meta charset='utf-8'>
      <meta name=author content="Jennifer Chien, Ngina Kariuki, Beryce Garcia">
      {% block title %}
      <title>Wendy’s Course Survival Guide</title>
      {% endblock %}
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    
    <div id="content">
      {% block flashes %}
        <div class="flashes">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
            <div id="messages">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
          
        </div>
        {% endblock %}
    </div>
    
    {% block login %}
    {% endblock %}
    
    {% block links%}
    {% endblock %}
    
    {% block search %}
    <form id="search" method=POST action="{{url_for('search')}}">
        <input id="searchterm" placeholder="Search" name="searchterm">
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
    {% endblock %}
    
    {% block filter %}
    {% endblock %}
    
    {% block courseList %}
    {% endblock %}
    
    {% block posts%}
    {% endblock %}
    
    {% block addCourse %}
    {% endblock %}
    
    {% block backToHome %}
    {% endblock %}
    
    {% block past_posts %}
    {% endblock %}
  
  {% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename ='rating.js')}}"></script>
  {% endblock %}
  
  </body>
</html>