{% extends "base.html" %}

<body>
    
    <!--{% block links %}-->
    <!--<h2>{{coursename}}</h2>-->
    <!--{% endblock %}-->
    
    {% block posts %}
    <form id="editPost" method="post" action="{{url_for('editCourse', cid=course.cid)}}">
        <h1>Showing Results For: {{ course.name }} ({{ course.semester }})</h1>
            <label for="newProf"><h2>Professor: <input type="text" name="newProf" id ="newProf" placeholder="{{ course.professor }}"></h2></label>
            <div id="statistics">
                <h2 id="avgrating">Overall rating: {{ course.avg_rating }}</h2>
                <h2 id="avghours">Avg number of hours spent: {{ course.avg_hours }}</h2>
            </div>
    </form>
    {% endblock %}



</body>
</html>