{% extends "base.html" %}

<html lang='en'>
  <head>
      <meta charset='utf-8'>
      <meta name=author content="Jennifer Chien, Ngina Kariuki, Beryce Garcia">
      <title>Wendy’s Course Survival Guide</title>
  </head>
  <body>
      
{% block search %}
{% endblock %}

{% block flashes %}
{% endblock %}

Log or Create Account


{% block links %}
    <h1>Welcome!</h1>

    <p>Use the search bar above to search for a course</p> 
    <p>or</p> 
    <p>click here for <a href="/movies">all movies</a>.</p>
    <p>click here for <a href="/movies/harry">all "harry" movies</a>.</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

</body>
</html>