{% extends "base.html" %}
    
    {% block login %}
        <h1>Welcome!</h1>

        <div id="login">
            <h1>Log In or Create Account</h1>
            <form action="/login" method="POST">
              <p><label>Username:</label>
              <input type="text" name="username" placeholder="username"></p>
              <p><label>Password:</label>
              <input type="text" name="password" placeholder="password"></p>
              <p><label>If you are an admin logging in, enter the admin password:</label>
              <input type="text" name="adminPW" placeholder="admin password"></p>
              <button id="submit" type="submit" name="submit" value="submit">Submit</button>
            </form></p>
        </div>
        
        <p>Use the search bar below to search for a course</p> 
    {% endblock %}
        
    {% block links %}
        <p>Alternatively, click here for <a href = "/search">All Courses</a>.</p>
    {% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    

  </body>
</html>