{% extends "base.html" %}

<body>
    
    {% block links %}
    <h2>Select a course to edit/delete:</h2>
    {% endblock %}
    
    {% block past_posts %}
    <table id="courses-list">
    <tr>
        <th>Class name</th>
        <th>Semester</th>
        <th>Professor</th>
        <th>Average Hours</th>
        <th>Average Rating</th>
    </tr>
    
    <form action="/manageCourses" method="post">
        
        {% for course in courses %}
            <tr data-cid={{ course.cid }}>
                
                <td id="search_class_name" name="search_class_name"><a href = {{ url_for('editCourse', cid = course.cid) }}>
                    <label><input type="checkbox" name="deleteCourse" value={{ course.cid }}>{{ course.name }}</a></td></label>
                <td id="search_class_semester">{{ course.semester }}</td>
                <td id="search_class_professor">{{ course.professor }}</td>
                <td id="search_class_professor">{{ course.avg_hours }}</td>
                <td id="search_class_professor">{{ course.avg_rating }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
        <input type="submit" value="Delete selected courses">
    </form>
    {% endblock %}



</body>
</html>