{% extends "base.html" %}

{% block title %}
<h2>Search Results</h2>
{% endblock %}
<body>
{% block flashes %}
{% endblock %}

<h2>{{ loginbanner }}</h2>

*display courses that match based on search query*
<h1>List of Courses</h1>

{% block courseList %}
<table id="courses-list">
    <tr>
        <th>Class name</th>
        <th>Semester</th>
    </tr>


    {%for class in courses%}
    <tr data-cid={{ class.cid }}>
        <td class="search_class_name"><a href = {{ url_for('createPost', courseAndSemester = class.name + "-" + class.semester) }}>{{ class.name }}</a></td>
        <td class="search_class_semester">{{ class.semester }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}

{% block backToHome %}
<a href={{ url_for('homePage') }}>Go Back to Home</a>
{% endblock %}



</body>
</html>