{% extends "base.html" %}

{% block title %}
<h2>Search Results</h2>
{% endblock %}

{% block flashes %}
{% endblock %}

<h2>{{ loginbanner }}</h2>

*display courses that match based on search query*
<h1>List of Courses</h1>

{% block courseList %}
<table id="courses-list">
    <tr>
        <th>Class name</th>
        <th>Semester</th>
    </tr>


    {%for class in courses%}
    <!--currently goes back to the home page because post related routes not implemented yet-->
    <tr data-cid={{ class.cid }}>
        <td class="search_class_name"><a href = {{ url_for('createPost') }}>{{ class.name }}</a></td>
        <td class="search_class_semester">{{ class.semester }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

</body>
</html>